<main>
    <h2>Iniciar sesión</h2>
    <form action="/api/login" method="post">
        <label for="username" class="form-label"><strong>Usuario</strong></label>
        <input type="text" name="username" class="form-control mb-2" id="username">
        <label for="password" class="form-label"><strong>Contraseña</strong></label>
        <input type="password" name="password" class="form-control mb-2" id="password">
        <button type="submit" class="btn btn-warning text-dark shadow"><strong>Enviar</strong></button>
    </form>
    <a href="/api/signin" class="btn btn-outline-warning my-4">¿No tenés usuario? Iniciá sesión</a>
</main>