<div class="m-4 p-2 d-flex flex-md-row justify-content-center text-white bg-dark shadow-lg rounded">
    <h2>Formulario de productos</h2>
</div>
<section class="px-5 py-4 container-sm text-warning bg-dark shadow-lg rounded">
    <form onsubmit="return addProduct(this)">
        <label for="title" class="form-label"><strong>Título:</strong></label>
        <input type="text" name="title" class="form-control mb-2" id="productTitle">
        <label for="price" class="form-label"><strong>Precio:</strong></label>
        <input type="text" name="price" class="form-control mb-2" id="productPrice">
        <label for="thumbnail" class="form-label"><strong>URL:</strong></label>
        <input type="text" name="thumbnail" class="form-control mb-2" id="productThumbnail">
        <button type="submit" class="btn btn-warning text-dark shadow"><strong>Enviar</strong></button>
    </form>
</section>
<div class="m-4 p-2 d-flex flex-md-row justify-content-center text-white bg-dark shadow-lg rounded">
    <h2>Listado de productos</h2>
</div>
<section class="px-5 py-4 container-sm text-warning bg-dark shadow-lg rounded">
    <ul class="d-flex flex-wrap justify-content-between" id="products">

    </ul>
</section>
<div class="m-4 p-2 d-flex flex-md-row justify-content-center text-white bg-dark shadow-lg rounded">
    <h2>Chat de clientes</h2>
</div>
<section class="px-5 py-4 container-sm text-warning bg-dark shadow-lg rounded">
    <form onsubmit="return addMessage(this)">
        <label for="email" class="form-label"><strong>Email</strong></label>
        <input type="text" name="email" class="form-control mb-2" id="userEmail">
        <label for="message" class="form-label"><strong>Mensaje</strong></label>
        <input type="text" name="message" class="form-control mb-2" id="userMessage">
        <button type="submit" class="btn btn-warning text-dark shadow"><strong>Enviar</strong></button>
    </form>
    <ul id="chatLog">

    </ul>
</section>